<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="EVOModel" value="150"/>
    <add key="UnitIsMM" value="false"/>
    <add key="MeasureName" value="TIU"/>
    <add key="reportPath" value="D:\TIU\data.txt"/>
    <add key="DstBarcodeFolder" value="C:\biobankingAllType\barcodes"/>
    <add key="SrcBarcodeFile" value="C:\biobankingAllType\barcodes\src.txt"/>
    <add key="PlasmaMaxCount" value="5"/>
    <add key="BuffyMaxCount" value="3"/>
    <add key="maxSampleCount" value="96"/>
    <add key="2DBarcodeVendor" value="WG"/>
    <add key="ExcelTemplate" value=""/>
    <add key="ConnectionString" value="server=192.168.10.128;database=BioBank_tecan;uid=sa;pwd=wonders,1"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
