
.vs/Biobanking/v17/.suo
AddReagent/bin/
AddReagent/obj/
BarcodeImporter/obj/
BarcodeImporter/bin/
BarcodeReader/obj/
BarcodeReader/bin/
Biobanking/bin/
Biobanking/obj/
BiobankingTests/bin/
BiobankingTests/obj/
Calibration/bin/
Calibration/obj/
CheckPlate/bin/
CheckPlate/obj/
ConfigureTool/bin/
ConfigureTool/obj/
WriteTime/
VolumeCalculator/
Settings/bin/
Settings/obj/
SampleInfo/SampleInfo/bin/
SampleInfo/SampleInfo/obj/
ProjectTest/
Notifier/bin/
Notifier/obj/
TubeChecker/bin/
TubeChecker/obj/
Monitor/bin/
Monitor/obj/
CheckPlateID/
Hinter/
WindowsFormsApplication1/
DeleteCSVs/obj/
DeleteCSVs/bin/
Biobanking/excels/NJ/123.zip
/昆山
/VolumeCalculator.zip
