
.vs/Biobanking/v17/.suo
AddReagent/bin/
AddReagent/obj/
BarcodeImporter/obj/
BarcodeImporter/bin/
BarcodeReader/obj/
BarcodeReader/bin/
Biobanking/bin/
Biobanking/obj/
BiobankingTests/bin/
BiobankingTests/obj/
Calibration/bin/
Calibration/obj/
CheckPlate/bin/
CheckPlate/obj/
ConfigureTool/bin/
ConfigureTool/obj/
WriteTime/
VolumeCalculator/
Settings/bin/
Settings/obj/
SampleInfo/SampleInfo/bin/
SampleInfo/SampleInfo/obj/
ProjectTest/
Notifier/bin/
Notifier/obj/
TubeChecker/bin/
TubeChecker/obj/
Monitor/bin/
Monitor/obj/
CheckPlateID/
Hinter/
WindowsFormsApplication1/
DeleteCSVs/obj/
DeleteCSVs/bin/
Biobanking/excels/NJ/123.zip
/昆山
/VolumeCalculator.zip
/branches/renji/obj
/branches/renji/.vs
/branches/RenjiNew/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/branches/RenjiNew/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
/branches/RenjiNew/obj/x86/Debug/BiobankingRenjiNew.csproj.SuggestedBindingRedirects.cache
/branches/RenjiNew/obj/x86/Debug/BiobankingRenjiNew.csproj.GenerateResource.cache
/branches/RenjiNew/obj/x86/Debug/BiobankingRenjiNew.csproj.FileListAbsolute.txt
/branches/RenjiNew/obj/x86/Debug/BiobankingRenjiNew.csproj.CoreCompileInputs.cache
/branches/RenjiNew/obj/x86/Debug/BiobankingRenjiNew.csproj.CopyComplete
/branches/RenjiNew/obj/x86/Debug/BiobankingRenjiNew.csproj.AssemblyReference.cache
/branches/RenjiNew/obj/x86/Debug/Biobanking.stringRes.resources
/branches/RenjiNew/obj/x86/Debug/Biobanking.pdb
/branches/RenjiNew/obj/x86/Debug/Biobanking.exe
/branches/RenjiNew/obj/x86/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/branches/Biobanking/bin
/.vs/Biobanking/v17/TestStore/0
/barcodes/2D/
/branches/Nanjin/SampleInfo/.vs/SampleInfo/v17
/branches/Nanjin/SampleInfo/obj/x86
/Test
/barcodes
