<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="MaxSampleCount" value="60" />
    <add key="EVOModel" value="150" />
    <add key="ThirPartySoftwareName" value="SciRobotic"/>
    <add key="tipVolumeExpression" value="100*height_mm - 200"/>
    <add key="reportPath" value ="D:\test\lastReport.xml"/>
    <add key="maxVolumePerSlice" value="5000"/>
    <add key="NotifierFolder" value=""/>
    <add key="MSDXYTogether" value="true"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
