<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="EVOModel" value="150"/>
    <add key="UnitIsMM" value="False"/>
    <add key="MeasureName" value="TIU"/>
    <add key="reportPath" value="C:\biobanking\data.txt"/>
    <add key="DstBarcodeFolder" value=""/>
    <add key="SrcBarcodeFile" value=""/>
    <add key="2DBarcodeVendor" value=""/>
    <add key="PlasmaMaxCount" value="10"/>
    <add key="BuffyMaxCount" value="2"/>
    <add key="maxSampleCount" value="96"/>
    <add key="ExcelTemplate" value=""/>
    <add key="ConnectionString" value=""/>
    <add key="ScriptFile" value=""/>
  </appSettings>
</configuration>
