<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="EVOModel" value="150"/>
    <add key="MeasureName" value="TIU"/>
    <add key="reportPath" value="D:\Projects\biobanking\trunk\data.txt"/>
    <add key="DstBarcodeFolder" value="D:\temp\"/>
    <add key="PlasmaMaxCount" value="5"/>
    <add key="BuffyMaxCount" value="2"/>
    <add key="maxSampleCount" value="48"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
