<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="EVOModel" value="150"/>
		<add key="UnitIsMM" value="true"/>
		<add key="MeasureName" value="TIU"/>
		<add key="reportPath" value="D:\projectsGit\BoundaryID\trunk\BoundaryID\bin\Data\latestReport.txt"/>
		<add key="DstBarcodeFolder" value="D:\projectsGit\Biobanking\barcodes\2D\"/>
		<add key="SrcBarcodeFile" value="D:\projectsGit\Biobanking\barcodes\src.txt"/>
		<add key="AddBuffer" value="false"/>
		<add key="BufferGrid" value="10"/>
		<add key="BufferSite" value="4"/>
		<add key="2DBarcodeVendor" value="NJ"/>
		<add key="PlasmaMaxCount" value="5"/>
		<add key="BuffyMaxCount" value="3"/>
		<add key="maxSampleCount" value="96"/>
		<add key="ExcelTemplate" value=""/>
		<add key="SBS" value="true"/>
		<add key="ConnectionString" value=""/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
</configuration>