<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="TipsCount" value="8"/>
    <add key="SrcSampleGrids" value="4"/>
    <add key="ReportFolder" value="D:\TIU\"/>
    <add key="runResultFile" value="D:\Projects\biobanking\trunk\Biobanking\bin\Output\runResult.xml"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
