<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="portNum" value="24"/>
    <add key="Simulation" value="true"/>
	  <add key="SampleCntFile" value="C:\biobanking\output\sampleCount.txt"/>
	<add key="PosIDFile" value="c:\programData\tecan\evoware\output\scan.csv"/>
    <add key="AutoNext" value="false"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
